<style>

</style>

<div class="mobile_how__does__happi__kill_container">
    <div class="happi__header__text">
        <h3 class="section_title">{{ section.settings.happi_title }}</h3>
    </div>
    <div class="kill__text">
        <p>Pure air takes precise work. Happi technology uses five filters that work in harmony to ensure unwanted particles stay out of your space.</p>
    </div>
    <div class="happi__working__container">
        <div class="happi__kill_image__container">
            <img src="{{ section.settings.mobile_happi_1 | img_url: '1920x' }}" alt="">
        </div>
        <div class="happi_image_1_txt">
            <p class="happi_text_1"> {{section.settings.happi_1_text}} </p>
            <p class="happi_text_2"> {{section.settings.happi_2_text}} </p>
        </div>
    </div>
    <div class="happi__2_working__container">
        <div class="happi_2__working__txt">
            <p class="kill__img_text__1"> {{section.settings.happi_txt_1}} </p>
            <p class="kill__img_text__2"> {{section.settings.happi_txt_2}} </p>
            <p class="kill__img_text__3"> {{section.settings.happi_txt_3}} </p>
            <p class="kill__img_text__4"> {{section.settings.happi_txt_4}} </p>
        </div>
        <div class="happi_2__kill_image__container">
            <img src="{{ section.settings.mobile_happi_2 | img_url: '1920x' }}" alt="">
        </div>
    </div>
</div>